<ion-header>
</ion-header>

<ion-content no-padding no-bounce>
  <ion-fab top right edge id="filters" style="margin-top: 1.2em;">
    <button ion-fab mini (click)="onClicked()">
      <ion-icon name="reorder"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab top right edge id="center-location" style="margin-top: 1em;">
    <button ion-fab mini (click)="centerMapToLocation()">
      <ion-icon name="navigate"></ion-icon>
    </button>
  </ion-fab>

  <div id="map-event-information" class="{{animateEventCard}}" *ngIf="displayMapEventCard" on-swipe-down="closeMapEventInfo()">
    <div id="handle-wrapper">
      <div id="toggle-handle">&nbsp;</div>
    </div>
    <button (click)="closeMapEventInfo()" id="close-map-event">
      <ion-icon name="close-circle"></ion-icon>
    </button>
    <h2>{{ ('Settings.' + mapEventInfo.category) | translate }} - {{ mapEventInfo.location }}</h2>
    <p>{{ parseTime(mapEventInfo.reported) }}, {{ distance(mapEventInfo.lat, mapEventInfo.long) }}</p>
    <p>{{mapEventInfo.description}}</p>
    <img [src]="DomSanitizer.bypassSecurityTrustUrl(mapEventInfo.image)" class="eventImage" *ngIf="mapEventInfo.image" />
    <ion-grid>
    <ion-row justify-content-center>
      <ion-col class="event-buttons">
        <span>
          <button ion-button outline  small (click)="shareEvent()">{{'Events.shareEvent' | translate}}</button>
        </span>
      </ion-col>
      <ion-col >
        <span>
          <button ion-button outline small round (click)="markAsFinished(mapEventInfo)">{{'Events.reportFinished' | translate}}</button>
        </span>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>
  <ion-fab right bottom >
    <button *ngIf="!displayMapEventCard" id="{{FABdisabled()}}" (click)="openReportPage()" ion-fab color="vibrant" mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div #map id="map"></div>
</ion-content>

