page-map {
  #map {
    height: 100%;
  }
  #filters {
    top: 0px;
  }
  #filters ion-icon, #center-location ion-icon {
    color: #000;
  }
  #filters button, #center-location button {
    background-color: #fff;
  }
  #center-location {
    top: 50px;
  }
  #map-event-information {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0px;
    padding: 4%;
    position: absolute;
    z-index: 999;
    width: 100%;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
  }
  #map-event-information.close {
    -webkit-animation: fadeOutDown 1s;
    animation: fadeOutDown 1s;
  }
  #toggle-handle {
    background-color: gray;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    margin: 0px auto;
  }
  #close-map-event {
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
