page-map {
  #map {
    height: 100%;
  }
  #filters {
    top: 0px;
  }
  #filters ion-icon, #center-location ion-icon {
    color: #000;
  }
  #filters button, #center-location button {
    background-color: #fff;
  }
  #center-location {
    top: 50px;
  }
}
