<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Done</button>
    </ion-buttons>
    <ion-title>Choose typ of incident</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div radio-group>
  <ion-list *ngFor="let event of events">
  <ion-list-header><span [ngClass]="'dot-' + event.color"></span>{{ event.eventtype | translate}}</ion-list-header>
    <ion-item *ngFor="let item of event.eventsubtype">
      <ion-label color="dark"> {{ item | translate}}</ion-label>
      <ion-radio (click)="onSelectType(item)" [value]="item" value="{{ item }}">is</ion-radio>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
