
<ion-header>
        <ion-navbar>
          <ion-title>
            Filters
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div id="settings-container">
                <p class="warning-title">Critical warning</p>
                <ion-list class="settings-list">
                  
                  <ion-item *ngFor="let setting of criticalWarningSettings">
                    <div item-content col-12>
                      <ion-row> 
                        <ion-col col-2>
                        <span [ngClass]="'dot-' + setting.color"></span>
                          </ion-col>
                        <ion-col col-6>
                          <ion-label >{{setting.name}}</ion-label>
                        </ion-col>
                        <ion-col col-4>
                          <ion-toggle [(ngModel)]="setting.ngModel" (ionChange)="onFilterSettingValueChange(setting.storageName, setting.ngModel)" (ngModelChange)="onFilterSettingValueChange(setting.storageName, setting.ngModel)" [id]="'warning' + setting.ngModel" name="setting.ngModel" color="secondary"></ion-toggle>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-item>
                  
                
                </ion-list>
                <p class="warning-title">Be cautious</p>
                <ion-list class="settings-list">
                  
                  <ion-item *ngFor="let setting of filterSettingsBeCautious">
                    <div item-content col-12>
                      <ion-row> 
                        <ion-col col-2>
                        <span [ngClass]="'dot-' + setting.color"></span>
                          </ion-col>
                        <ion-col col-6>
                          <ion-label >{{setting.name}}</ion-label>
                        </ion-col>
                        <ion-col col-4>
                          <ion-toggle [(ngModel)]="setting.ngModel" (ionChange)="onFilterSettingValueChange(setting.storageName, setting.ngModel)" (ngModelChange)="onFilterSettingValueChange(setting.storageName, setting.ngModel)" [id]="'warning' + setting.ngModel" name="setting.ngModel" color="secondary"></ion-toggle>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-item>

                </ion-list>
                <p class="warning-title">Other</p>
                <ion-list class="settings-list">
                  
                  <ion-item *ngFor="let setting of filterSettingsOther">
                    <div item-content col-12>
                      <ion-row> 
                        <ion-col col-2>
                        <span [ngClass]="'dot-' + setting.color"></span>
                          </ion-col>
                        <ion-col col-6>
                          <ion-label >{{setting.name}}</ion-label>
                        </ion-col>
                        <ion-col col-4>
                          <ion-toggle [(ngModel)]="setting.ngModel" (ionChange)="onFilterSettingValueChange(setting.storageName, setting.ngModel)" (ngModelChange)="onFilterSettingValueChange(setting.storageName, setting.ngModel)" [id]="'warning' + setting.ngModel" name="setting.ngModel" color="secondary"></ion-toggle>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-item>
                  
                
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
        </ion-content>
        
    