<ion-header>

  <ion-navbar>
    <ion-title>{{ 'EventNotifications.title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <div id="settings-container">
        <p class="setting-text setting-title">{{ 'EventNotifications.general' | translate }}</p>
        <ion-list class="settings-list">
          <ion-item>
            <div item-content col-12>
              <ion-row> 
                <ion-col col-8>
                  <ion-label >{{ 'EventNotifications.toggleAll' | translate }}</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-toggle [(ngModel)]="notifications" id="notifications-toggle" (ngModelChange)="onNotificationChange()" color="secondary"></ion-toggle>
                </ion-col>
              </ion-row>
              <ion-row>
  
                  <ion-item id="notificationrange-item">
                    <ion-range id="notificationsrange-range" col-12 min="1" max="30" [(ngModel)]="notificationDistance" (ionChange)="onNotificationDistanceChange($event)">  
                      <ion-label range-left>
                          <ion-badge item-end>{{notificationDistance}} KM</ion-badge>
                      </ion-label>
                    </ion-range>
                  </ion-item>
  
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
        <p class="setting-text">{{ 'EventNotifications.sliderInfo' | translate }}</p>

        <p class="setting-text setting-title">{{ 'EventNotifications.notifications' | translate }}</p>
        <ion-list class="settings-list">
          <div no-padding *ngFor="let category of settings.categories">
            <ion-item *ngFor="let setting of category.settings">
              <div item-content col-12>
                <ion-row> 
                  <ion-col col-2>
                  <span>
                      <img [src]="getIconCategory(setting.eventType, category.name)" class="event-icon" />
                  </span>
                    </ion-col>
                  <ion-col col-6>
                    <ion-label >{{('Settings.' + setting.eventType) | translate}}</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-toggle [(ngModel)]="states[formatName('notifications' + category.eventType + setting.eventType)]"
                     (ionChange)="onNotificationSettingValueChange(formatName('notifications' + category.eventType + setting.eventType))" 
                     (ngModelChange)="onNotificationSettingValueChange(formatName('notifications' + category.eventType + setting.eventType))" 
                     [id]="'warning' + setting.ngModel" name="setting.ngModel" color="secondary"></ion-toggle>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>  
</ion-content>
