.mandatory{
    color: red;
}


#myInput {
    min-height: 100px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-right: 0.8em;
    padding-left: 0.8em


}

.report-desc-title{
    margin-left: 0.8em;

}