page-events {
    .right-accordion-arrow {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .dot, .dot-orange, .dot-red, .dot-blue {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-top:19%;
    }
    .dot-orange {
        background-color:orange;
    }
    .dot-red {
        background-color: red;
    }
    .dot-blue {
        background-color: blue;
    }

.alert-message {
    overflow-y: auto;
}

.event-item{
    overflow: scroll;
    margin-right: 10%
}


.event-buttons{
    width: 100%;
    margin-right: 1em;
}



}