<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Events.event' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="accordion-list">
    <div ion-item *ngFor="let item of items; let i = index">
      <ion-avatar item-start>
        <span [ngClass]="'dot-' + item.color"></span>
      </ion-avatar>
      <div (click)="itemSelected(item)">
        {{ item.title }} - {{ item.location }}
        <p>{{ parseTime(item.reported) }}, {{ distance() }}</p>
        <ion-icon class="right-accordion-arrow" name="ios-arrow-down" item-start *ngIf="!item.accordionOpen"></ion-icon>
        <ion-icon class="right-accordion-arrow" name="ios-arrow-up" item-start *ngIf="item.accordionOpen"></ion-icon>
      </div>

      <div class="accordion-content" *ngIf="item.accordionOpen">
        <p>{{item.description}}</p>
        <button ion-button color=default (click)="shareEvent(item)">Share this event</button>
      </div>
    </div>
  </ion-list>

  <ion-footer>
    <button padding class="report-event" ion-button block no-lines (click)="openReportPage()">Report Incident</button>
  </ion-footer>
</ion-content>
