page-events {
    .right-accordion-arrow {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #report-event {
        position: absolute;
        bottom: 0px;
        margin-right:auto;
        margin-left:auto;
        
    }
}
