<ion-header>
  <ion-navbar>
    <ion-title>
      More Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <ion-icon ios="ios-contact" md="ios-contact"></ion-icon>
      </ion-thumbnail>
      <div *ngIf="!getIfSignedIn()" (click)="loginWithTwitter()">
        <h2>Not signed in</h2>
        <p>tap to register or sign in</p>
      </div>
      <div *ngIf="getIfSignedIn()" (click)="logOutTwitter()">
        <h1>{{ userName() }}</h1>
        <p>tap to sign out</p>
      </div>
      <button ion-button clear item-end><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-item>
  </ion-list>


  <ion-list>
    <a ion-item (click)="openNotificationModal()">
      <ion-icon name="notifications-outline" [ngStyle]="" item-start></ion-icon>
      Event Notifications {{ 'More.eventNoti' | translate }}
    </a>
    <a ion-item (click)="openLanguageModal()">
      <ion-icon name="ios-globe-outline" [ngStyle]="" item-start></ion-icon>
      Language
    </a>
    <a ion-item href="mailto:info@somedomain.net?subject=my%20App">
      <ion-icon name="ios-call-outline" [ngStyle]="" item-start></ion-icon>
      Contact Developers
    </a>
  </ion-list>
</ion-content>
